.price {
  font-size: 50px;
  margin-bottom: 45px;
  color: #303030;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.al_center {
  align-items: center;
}

.jc_space_between {
  justify-content: space-between;
}

.slider_pagination a.selected, .slider_pagination .slick-active a {
  width: 12px;
  height: 12px;
  background-color: white !important;
  border-radius: 14px;
}

ul.footer_links {
  margin-left: 0;
}

ul.footer_links li {
  padding-left: 0;
}

#Footer a {
  color: #bbb;
}

#Footer h4 {
  margin: 0;
  font-weight: normal;
}
