.price {
  font-size: 50px;
  margin-bottom: 45px;
  color: #303030;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.al_center {
  align-items: center;
}

.jc_space_between {
  justify-content: space-between;
}

.slider_pagination a.selected, .slider_pagination .slick-active a {
  width: 12px;
  height: 12px;
  background-color: white !important;
  border-radius: 14px;
}

input[name="subscribe"]::-webkit-input-placeholder {
  color: #aaa;
}
input[name="subscribe"]::-moz-placeholder {
  color: #aaa;
}
input[name="subscribe"]:-ms-input-placeholder {
  color: #aaa;
}
input[name="subscribe"]:-moz-placeholder {
  color: #aaa;
}


ul.footer_links {
  margin-left: 0;
}

ul.footer_links li {
  padding-left: 0;
}

#Footer a {
  color: #bbb;
}

#Footer h4 {
  margin: 0;
  font-weight: normal;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.technologies .tech {
  margin: 5px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  min-width: 215px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f1f2;
}

.technologies .tech:hover {
  background-color: #e8e7e9;
  cursor: pointer;
  border-radius: 5px;
}

.technologies .tech img,
.technologies .tech svg{
  margin-right: 5px;
}

.technologies .tech label{
  margin-bottom: 10px;
}

.technologies .tech a{
  flex-grow: 1;
  width: 100%;
  margin-top: 10px;
}

.technologies .tech *{
  margin: 0;
  padding: 0;
  line-height: 1;
}
