.price {
  font-size: 50px;
  margin-bottom: 45px;
  color: #303030;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.j_c_c {
  justify-content: center;
}

.al_center {
  align-items: center;
}

.jc_space_between {
  justify-content: space-between;
}

.slider_pagination a.selected, .slider_pagination .slick-active a {
  width: 12px;
  height: 12px;
  background-color: white !important;
  border-radius: 14px;
}

input[name="subscribe"]::-webkit-input-placeholder {
  color: #aaa;
}
input[name="subscribe"]::-moz-placeholder {
  color: #aaa;
}
input[name="subscribe"]:-ms-input-placeholder {
  color: #aaa;
}
input[name="subscribe"]:-moz-placeholder {
  color: #aaa;
}


ul.footer_links {
  margin-left: 0;
}

ul.footer_links li {
  padding-left: 0;
}

#Footer a {
  color: #bbb;
}

#Footer h4 {
  margin: 0;
  font-weight: normal;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.technologies .tech {
  margin: 5px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  min-width: 135px;
  text-align: center;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: #606060;
}

.technologies .tech:hover {
  background-color: #e8e7e9;
  cursor: pointer;
}

.technologies .tech img,
.technologies .tech svg{
  margin-right: 5px;
}

.technologies .tech label{
  margin-bottom: 10px;
}

.technologies .tech a{
  flex-grow: 1;
  width: 100%;
  margin-top: 10px;
}

.technologies .tech *{
  margin: 0;
  padding: 0;
  line-height: 1;
}

/*
  Blog
*/

.blog {
  display: flex;
  justify-content: center;
}

.blog .content {
  width: 680px;
  max-width: 680px;
}

.blog .content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog .content *{
  font-size: 18px;
  line-height: 1.7;
}

.blog_assets {
  display: flex;
  justify-content: center;
}

.blog_assets .assets {
  width: 680px;
  max-width: 680px;
}

.blogs_list {
  display: flex;
  flex-wrap: wrap;
}

._blog{
  width: 366px;
  margin: 15px;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #e2e1e1;
  border-bottom: 3px solid #00cdc1;
}

._blog * {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #404040;
}

._blog *:hover{
  text-decoration: none;
}

.p15 {
  padding: 15px;
}

#Content .blogs_list img {
  max-width: 100%;
}

.bimage {
  height: 300px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #efefef;
}

._blog .blog_info {
  padding: 15px;
  text-align: left;
}

._blog .blog_info .title {
  font-weight: normal;
  margin-bottom: 15px;
  color: #303030;
}

._blog .blog_info .auther,
._blog .blog_info .date {
  color: #505050;
  font-size: 15px;
  text-align: right;
}

._blog .blog_info .auther {
  margin-bottom: 5px;
  text-transform: capitalize;
}


._blog .blog_info .summary {
  color: #606060;
  font-size: 14px;
  text-align: left;
  margin-bottom: 15px;
}

.b_auther {
  font-size: 16px;
  text-transform: capitalize;
}

.blog_categories {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #efefef;
}

.blog_categories h4{
  margin-bottom: 5px;
}

.blog_category {
  color: #cdcdcd;
  padding: 5px 10px;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #cdcdcd;
  font-weight: normal;
  font-size: 16px;
  border-radius: 3px;
  margin: 5px;
  align-items: center;
}

.blog_category:hover {
  color: white;
  text-decoration: none;
  border: 1px solid #00cdc1;
  background-color: #00cdc1;
}

.blog_category.active {
  color: white;
  text-decoration: none;
  border: 1px solid #00cdc1;
  background-color: #00cdc1;
}

.blog_header {
  display: flex;
  justify-content: center;
}

.blog_header ._header{
  width: 680px;
  max-width: 680px;
}

.blog_details {
  display: flex;
  color: #707070;
  font-size: 16px;
  text-transform: capitalize;
}

.pricing-box .plan-header .price > span {
  font-size: 99px;
  line-height: 99px;
}

.pricing-box .plan-header .price sup.currency {
  font-size: 40px;
  line-height: 40px;
}

@media only screen and (max-width: 1239px) {
  #Top_bar #menu ul li {
    border-top: 1px solid #eee;
  }
}

.list-group-item {
  min-width: 210px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin: 2px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all;
}

.list-group-item:hover {
  background-color: #ffbd1f;
  border-color: #ffbd1f;
  color: #303030;
}

.list-group-item * {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.list-group-item h3 {
  font-size: 18px;
  /*color: #999;*/
  /*font-weight: 300;*/
}

.list-group-item:hover h3{
  font-weight: 400;
  color: black;
}

.menu {
  box-shadow: 0px 5px 20px #aaa;
}
